html, body {
  height: 100%;
  margin: 0;
}

body{
    background-image: url("../img/backgrounddiscography2.png");
    background-size: cover;
    background-position: center;             
    background-repeat: no-repeat;             
    background-attachment: fixed;             
    background-color: #000000;
    background-attachment: scroll;
    font-family: 'Bebas Neue', sans-serif;
    
}

#date1 button{
    appearance: none;
    background: transparent;
    color: #ad2831;
    border: 0.3vh solid #ad2831; 
    font-family: 'Bebas Neue', sans-serif;
    padding: 1vh 5vh;
    font-size: 35px;

}


#date2 button,#date3 button,#date4 button,#date5 button{
    appearance: none;
    background: transparent;
    color: #ad2831;
    border: 0.3vh solid #ad2831; 
    font-family: 'Bebas Neue', sans-serif;
    padding: 1vh 5vh;
    font-size: 35px;

}
#date1, #date2, #date3,#date4,#date5{
    color: #ad2831;
    display: flex;
    align-items: center;       
    gap: 10vh;                 
    margin-left: 15vh;
    padding-top: 5vh;
    border-bottom: 0.3vh solid #ad2831; 
    padding-bottom: 35px; 
    margin-right: 15vh;        
}

#dates{
  display: flex;
  flex-direction: column;   /* apila date1/2/3 en columna */
  height: auto;
  min-height: 0;
       
}

#date1 { margin-top: 95vh; }
.col-fecha { flex: 0 0 200px; }  
.col-ciudad { flex: 0 0 250px; }  
.col-venue { flex: 0.6; }          
.col-boton { flex: 0 0 50px; }



*, *::before, *::after{ box-sizing: border-box; }
img, svg{ max-width:100%; height:auto; display:block; }

@media (max-width: 500px){
    html, body {
        height: auto;          /* evita bloquear el scroll vertical */
        min-height: 100vh;
        overflow-x: hidden;     /* solo bloquea scroll lateral */
    }
    body{
        background:
            linear-gradient(to bottom, rgba(0,0,0,0) 80%, #000 100%),
            url("../img/backgrounddiscography2.png") center top / cover no-repeat,
            #000;
        background-attachment: scroll, scroll, scroll;
        background-color: #000000;
        background-position: -400px 0px;
        
        background-size: cover, auto;
        
    }
    
    #date1, #date2, #date3, #date4,#date5{
        margin-left: 0px;                 /* si antes tenías 20vh, quítalo en móvil */
        gap: 24px;                      /* no uses gap en vh */
        padding-inline: 16px;
        flex-wrap: wrap;
        min-width: 0;
        justify-content: center;
        margin-right: 0px;
  }
    .nav-list{
        left: 0; right: 0;              /* pegado a los bordes */
        box-sizing: border-box;
        max-width: 100%;
  }
    .col-fecha,
  .col-ciudad,
  .col-venue,
  .col-boton{
    flex: 0 0 50% !important;  /* cada uno en su propia línea */
    min-width: 0;
    text-align: center;          /* centramos el texto */
  }

  /* centrado del botón */
  .col-boton{
    display: flex;
    justify-content: center;
  }
  #date1 button,
  #date2 button,
  #date3 button{
    margin: 0 auto;              /* por si acaso */
  }
}
